* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto';
}

header {
    background-color: #343434;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 2rem 0;
}

.one {
    width: 200px;
}

.copy {
    color: white;
}




footer {
        background-color: #343434;
        color: white;
        font-size: 14px;
        text-align: center;
        padding: 2rem 0;    
}